{% load static %}
<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- polls static polls/main.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>KU POLLS</title>
</head>
<body>
    <!-- Navigation bar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!-- KU POLLS logo link to /polls page -->
                <a class="nav-link question_text_polls" href="{% url 'polls:polls-home' %}">KU POLLS</a>
                <a class="nav-link question_text_polls" href="{% url 'polls:polls-list-results' %}">All Result</a>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <!-- message section -->
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                      <strong>Message: </strong>  {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- content section -->
            {% block content %}{% endblock %}
        </div>

    </main>
    
</body>