{% extends "polls/base.html" %}
{% block content %}
<!-- content header -->
<h1>{{ question.text }}</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-bottom: 30px;">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- main content -->
<!-- request api question vote -->
{% if question.can_vote %}


<h3>Poll is ended</h3>
<div style="margin-top: 50px">
    <a class="next-page float-left" href="{% url 'polls:polls-home' %}">Back</a>
    <a class="next-page" href="{% url 'polls:polls-results' question.id %}">Result</a>
</div>


{% else %}


<form action="{% url 'polls:polls-vote' question.id %}" method="post">
{% csrf_token %}
{% if question.choice_set.all %}
    {% for choice in question.choice_set.all %}
        <!-- display list of choice in question.id -->
        <input class="choice_input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="choice_label" for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
    {% endfor %}
    <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-bottom: 30px;">
        <!-- submit vote and go to the next page (?/result) -->
        <a class="next-page float-left" href="{% url 'polls:polls-home' %}">Back</a>
        <input type="submit" class="next-page float-right" value="Vote">
    </form>

    
{% else %}


<div class="container">
    <h3 style="color: #870000">No choice in this question</h3>
    <a class="next-page" href="{% url 'polls:polls-home' %}">Back</a>
</div>


{% endif %}


{% endif %}

{% endblock content %}