{% extends "polls/base.html" %}

{% block content %}
  <h1>{{ question.text }}</h1>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-bottom: 30px;">
  <div id="container"  style="width: 75%;margin-left: 10%; position:relative;">
    <canvas id="pie-chart"></canvas>
    
  </div>
  <a class="next-page" href="{% url 'polls:polls-results' question.id %}">Back</a>
  

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#E59866 ', '#F9E79F', '#82E0AA', '#85C1E9', '#AF7AC5'
          ],
          label: 'votes'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };


    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}